@media(max-width:767px)
{
   .navbar-inverse .navbar-nav > li > a
   {
   	padding-top: 10px;
   	padding-bottom: 10px;
   }
   .subscribe .from-control
   {
   	margin: 20px auto;
   }
   .navbar-fixed-top .navbar-collapse,
   .navbar-fixed-bottom .navbar-collapse
   {
   	max-height: none;
   }
    .carousel-inner .carousel-caption h1, p
    {
        display: none
    }
    .carousel-caption
    {
        display: none
    }
}
    
    
    
    
    
@media(min-width: 768px)and(max-width: 991px)
    
    
    
    
    
    
    
    
@media (min-width: 992px)
{
   
}